<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.min.css">
</head>
<body>
    <header>
        <h1><i class="fas fa-comments"></i> <%= title %></h1>
    </header>
    <main>
        <div class="intro-message">
            <p><i class="fas fa-robot"></i> Hey Nerd! Welcome to the mini message board made with Node, Express, and CSS3
            Please use me!</p>
        </div>
        <a href="/new" class="btn"><i class="fas fa-plus"></i> Add New Message</a>
        <ul class="message-list">
            <% messages.forEach(message => { %>
                <li class="message-item">
                    <div class="message-content">
                        <strong><i class="fas fa-user-circle"></i> <%= message.user %></strong>: 
                        <i class="fas fa-comment"></i> <%= message.text %> 
                        <small><i class="far fa-clock"></i> <%= message.added.toLocaleString() %></small>
                    </div>
                    <a href="/message/<%= message.id %>" class="btn btn-small"><i class="fas fa-external-link-alt"></i> Open</a>
                </li>
            <% }); %>
        </ul>
    </main>
    <footer>
        Made by Vickoch20
    </footer>
</body>
</html>